{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Количество всех новостей:</h1>
   <h1>{{posts|length}}</h1>
   <hr>
   <tr>
       {% if category_news_list %}
       <a href="{% url 'news_create' %}">Добавить пост</a>
       {% endif %}
   <tr>
   {% if posts %}
       <table>
           <tr>

               <td>Название</td>
               <td>Категория</td>
               <td>Тип категории</td>
               <td>Дата публикации</td>
               <td>Превью</td>


               {% if perms.news.news_update or perms.news.news_delete %}
               <td> Действия </td>
               {% endif %}


           </tr>
           {% for post in category_news_list %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>
                   {% for cat in post.postCategory.all %}
                   {{ cat.name }}
                       <a href="{% url 'category_news_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>{{ post.categoryType|censor }}</td>
               <td>{{ post.dataCreate|date:'d M Y' }}</td>
               <td>{{ post.text|censor|truncatechars:20 }}</td>


               <td>
                   {% if perms.news.change_post %}
                   <a href="{% url 'news_update' pk=post.id %}">Изменить</a>
                   {% endif %}

                   {% if perms.news.delete_post %}
                   <a href="{% url 'news_delete' pk=post.id %}">Удалить</a>
                   {% endif %}
               <td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}